{% extends 'base.html.twig' %}

{% block title %}Ma Todo Liste
{% endblock %}

{% block body %}

	<ul class="list-group list-group-flush w-50 m-auto">
		{% for todo in todos %}
			{% if todo.state == 'Todo' %}
			<div class="list-group-item list-group-item-action p-4 d-flex justify-content-between">
				<div class="a">
					<a href="{{path('show_todo',{'id': todo.id})}}" target='_blank'>
						{{todo.title}}
					</a>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="Completed" id="state" data-id={{todo.id}} name="state">
					<label class="form-check-label" for="completed">
						Todo terminée
					</label>
				</div>
                {% elseif todo.state == 'Completed' %}
			<li class="list-group-item p-4 text-decoration-line-through text-danger li">{{todo.title}}</li>
                {% endif %}
			</div>
		{% endfor %}

	</ul>
{% endblock %}

{% block javascripts %}

	<script language="javascript">
		$(document).on('change', '#state', function (e) {
e.preventDefault();
let id = $(this).data('id');
let state = $(this).val();
let url = '{{ path('todo_state_edit', {'id' : 'objectId'}) }}';
url = url.replace('objectId', id);
$.ajax({
url: url,
type: 'POST',
data: {
'id': id,
'state': state
},
cache: false
}).done(function (data) {
 
// $('.form-check').remove();
// $("a").addClass('d-none');
// $("li").removeClass('d-none');
// $("li").addClass('d-flex');
toastr.success('Mise à jour effectuée avec succès');
}).fail(function (data) {
toastr.error('Erreur lors de la mise à jour');
console.log("erreur");
})
});
	</script>
{% endblock %}
