{% extends 'base.html.twig' %}

{% block title %}Ma Todo Liste
{% endblock %}

{% block body %}

	<ul class="list-group list-group-flush w-50 m-auto mb-5">
		{% for todo in todos|reverse %}
			<div class="list-group-item list-group-item-action p-4 d-flex justify-content-between {{todo.id}}">
				<div class="a">
					<a href="{{path('show_todo',{'id': todo.id})}}" target='_blank' class="title-{{todo.id}} text-info">
						{{todo.title}}
					</a>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="Completed" id="state" data-id={{todo.id}} name="state" data-title={{todo.title}}>

					<label class="form-check-label" for="completed">
						Todo terminée
					</label>
				</div>
			</div>
		{% endfor %}
		<div class="list-group list-group-flush remove"></div>
	</ul>
{% endblock %}

{% block javascripts %}
	<script language="javascript">
		let tab = [];
			$(document).on('change', '#state', function (e) {
			e.preventDefault();
			let id = $(this).data('id');
			let state = $(this).val();
			let title = $(".title-" + id).text();
			let url = '{{ path('todo_state_edit', {'id' : 'objectId'}) }}';
			url = url.replace('objectId', id);
			$.ajax({
			url: url,
			type: 'POST',
			data: {
			'id': id,
			'state': state,
			'title': title
			},
			cache: false
			}).done(function (data) {
			$(".remove").empty();
			tab.push(title);
			jQuery.each(tab, function (index, element) {
			$('.' + id).remove();
			$('.remove').append("<a class='list-group-item list-group-item-action p-4 text-decoration-line-through text-danger disabled'>" + element + "</a>");
			});
			toastr.success('Mise à jour effectuée avec succès');
			}).fail(function (data) {
			toastr.error('Erreur lors de la mise à jour');
			})
			});
	</script>
{% endblock %}
